# Choose either BING_TOKEN or BING_COOKIES
# If both are filled, BING_COOKIES will be preferred
# Check README.md for details on how to get these
BING_TOKEN="116U#############IicQ"
BING_COOKIES="MUID=08AC######6940; MUIDB=08AC#####6940; ...a very long string..."

# Determines whether the bot should detect and convert your voice messages into text
# Accepted values are "true" or "false"
TRANSCRIPTION_ENABLED="false"
# This must be set for voice message transcription functionality
OPENAI_API_KEY="sk-90..."
# Determines whether the bot should reply with the transcribed text from your voice messages
# Accepted values are "true" or "false"
REPLY_TRANSCRIPTION="false"

# Setup your own context for Sydney, try to use bullet points like:
# - User name is Lucas and he is from Lisbon, Portugal.
# - Always talk like a pirate.
USER_CONTEXT="# User provided guidelines:"

# Accepted values are "true", "dms_only", "groups_only" or "false"
ENABLE_REACTIONS="true"

# Change to your liking. These are the defaults
QUEUED_REACTION="🔁"
WORKING_REACTION="⚙️"
DONE_REACTION="✅"
ERROR_REACTION="⚠️"

# Whitelist (OPTIONAL)
# The bot will only answer to these phone numbers (separated by commas)
# The bot will answer to anyone in a group chat as long as there is at least one whitelisted member
## Examples:
## Brazil: 5515999999999 # 55 = country code # 15 = area code # 999999999 = phone number
## US: 14155551111 # 1 = country code # 415 = area code # 5551111 = phone number
#WHITELIST="5519999999999,14155551111"

# Block users from using Sydney both in DMs and group chats
#BLOCKED_USERS="5519999999999,14155551111"

